<?xml version="1.0" encoding="UTF-8"?>
<!--
  첫줃은 무조건 XML 선언부.
  /Users/Sorrowkissed/apache-tomcat-9.0.12/webapps/examples/WEB-INF
  에서 가져옴.
  재 복습 전에 꼭 ServletPart 공부를 하도록 하자.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="false">

    <description>
      미니 프로젝트 : 수업 관리 시스템을 구현한 웹 어플리케이션.
    </description>
    <display-name> - Classroom Management System - </display-name>
    
    <!--
    <request-character-encoding>UTF-8</request-character-encoding>
    -->
    <!-- Define example filters 필터도 여기서 설정 가능. -->
    <!-- Define example application events listeners 리스너도 여기서 설정 가능. -->
    <!-- 컨텍스트 초기화 파라미터 설정 -->
    <context-param>
        <param-name>jdbc.driver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
    </context-param>
    
    <context-param>
        <param-name>jdbc.url</param-name>
        <param-value>jdbc:mariadb://localhost:3306/studydb</param-value>
    </context-param>
    
    <context-param>
        <param-name>jdbc.username</param-name>
        <param-value>study</param-value>
    </context-param>
    
    <context-param>
        <param-name>jdbc.password</param-name>
        <param-value>1111</param-value>
    </context-param>
    
    
    <!--
    InitServlet은 클라이언트의 요청을 처리하는 서블렛이 아니기 때문에
        URL을 지정하지 않는다.
    대신 클라이언트가 요청하지 않아도 init()가 호출 되어야 하기 때문에
    loadOnstartup 배치 속성을 추가한다.
    
    -->
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>bitcamp.java110.cms.servlet.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!-- 풀 경로 + 이름 -->
    </servlet>
    
    <!-- Welcome File 클라이언트가 요청한 URL에 대해 기 파일을 찾을 때 우선 순위 -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
 </web-app>
